<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meu Crud em nodejs</title>
</head>
<body>

<h2>Registros<h2>
    <table border="1">
        <thead>
            <tr>
                <td>id</td>
                <td>carro</td>
                <td>cor</td>
                <td>Acao</td>
            </tr>
        </thead>
        <tbody>
          <% data.forEach(function(details) { %>
            <tr>
                <td><%= details._id %></td>
                <td><%= details.veiculo %></td>
                <td><%= details.cor %></td>

                <td>
                  <a href="/edit/<%=details._id %>">Editar</a> - <a href="/delete/<%=details._id %>">Deletar</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
        <button><a href="/">Voltar</a></button>

</body>
</html>
